body {
    background-color: azure;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10%;
    height: auto;
    max-width: 200px;

    border-radius: 50%;
}

.profile-name {
    text-align: center;
    
}